<% provide(:title, 'About') %>

	<h1>About us</h1>
	<p>This is a sample application that I'm putting together with the help of the excellent Rails Tutorial by Harti. I have an rspec test that is testing to see if the words about us appear on the page. It should match on the h1.</p>
