<% provide(:title, 'Contact') %>

	<h1>Contact us</h1>
	<img src="http://farm7.staticflickr.com/6151/6174182570_6b8458dbb7_z.jpg">
	<p>This is a sample application that I'm putting together with the help of the excellent Rails Tutorial by Harti. I have an rspec test that is testing to see if the words about us appear on the page. It should match on the h1.</p>
