<% provide(:title, 'Help') %>
    
	<h1>Hello, this is the Help page</h1>
	<p>Find me in app/views/static_pages/help.html.erb</p>
    <img src="http://farm5.staticflickr.com/4024/4610703348_451ac9f36c.jpg">
	<p>If you are looking for help. You've arrived. However it seems that the rspec test is case sensitive</p>
	<p>Now you have Help. Should pass now.</p>
