<% provide(:title, 'Help') %>
    
	<h1>Hello, this is the Help page</h1>
	<p>Find me in app/views/static_pages/help.html.erb</p>

	<p>If you are looking for help. You've arrived. However it seems that the rspec test is case sensitive</p>
	<p>Now you have Help. Should pass now.</p>
