    <% provide(:title, 'Home') %>

    <h1>Riding carousels is fun</h1>
    <img src="http://farm6.staticflickr.com/5059/5513964039_ac7ced50f0_z.jpg" width="640" height="427">
	<p>This site is about to become the world's, umm, simplest sample app. I'm working on this to teach myself about Ruby and Rails. It should pass the rspec test I just created using the <a href="http://railstutorial.com">Ruby on Rails Tutorial</a> by Harti.</p>
	<p>Find me in app/views/static_pages/home.html.erb</p>
	<!-- start slipsum code -->

	<h3>Uuummmm, this is a tasty burger!</h3>
	<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>

	<h3>So, you cold?</h3>
	<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>

	<h3>Uuummmm, this is a tasty burger!</h3>
	<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>

	<!-- please do not remove this line -->

	<div style="display:none;">
	<a href="http://slipsum.com">lorem ipsum</a></div>

	<!-- end slipsum code -->
	
	Learn more about Stefan <a href="http://www.smagula.org">www.smagula.org</a>
	
