    <% provide(:title, 'Home') %>

    <h1>Sample App</h1>
	<p>This page now contains the world sample app. It should pass the rspec test I just created using the <a href="http://railstutorial.com">Ruby on Rails Tutorial</a> by Harti.</p>
	<p>Find me in app/views/static_pages/home.html.erb</p>
	
