    <% provide(:title, 'Home') %>

    <h1>Sample App</h1>
	<p>This site is about to become the world's, umm, simplest sample app. I'm working on this to teach myself about Ruby and Rails. It should pass the rspec test I just created using the <a href="http://railstutorial.com">Ruby on Rails Tutorial</a> by Harti.</p>
	<p>Find me in app/views/static_pages/home.html.erb</p>
	Learn more about Stefan <a href="http://www.smagula.org">www.smagula.org</a>
	
