<% if @user.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">×</a>
			<p><h4 class="alert-heading">Something got messed up here...</h4>
				Don't sweat it. Probably my fault anyway. You have <%= pluralize(@user.errors.count, "error") %></p>
		</div>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
			<blockquote>
			  <p>If you don't fail at least 90% of the time, you're not aiming high enough.</p>
			  <small>Alan Kay</small>
			</blockquote>
<% end %>